@media only screen and (min-width: 601px) and (max-width: 820px){

    .bg{
        display: flex;
        /* justify-content: flex-start; */
    }

    .bg1{
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;
    }

    .a1{
        min-width: 60px;
    }

    .search{
        width: max-content;
    }

    .seller{
        margin-left: 1rem;
    }

    .B-Seller{
        font-size: 0.8rem;
    }

    .cart{
        margin-left: 1rem;
    }
    
}